.purple-div {
    /* width: 100%; */
    height: 80vh;
    padding: 12vh 30vw;
}

.search-div {
    border-radius: 10px;

}

.search-div > input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 10px;
    color: black;
}

.search-div > input[type="text"]::placeholder {
    color: black;
    opacity: 1;
}

.purple-text-area {
    margin-top: 8vh;
}

.purple-text-area > p {
    margin-top: 3vh;
}

.phone-section > img {
    height: 55vh;
    width: auto;
    margin-top: 2vh;
}